.App {
  text-align: center;
}

.header {
}
.nav-title {
  margin-left: 30px;
  color: white;
}

.navbar-design {
  background-color: #131921;
  color: white;
}
.navbar-items {
  margin-right: 30px;
}
.navbar-design a {
  color: white;
}
.signin {
  max-width: 180px;
  margin-top: 60px;
  text-align: center;
}
.lables {
}
.signin-head {
}
